{% extends "_includes/default.njk" %}

{% block title %}Encore Promotions | Promotional Products &amp; Apparel{% endblock %}

{% block content %}
<main class="relative bg-white bg-opacity-50 min-h-full bg-cover bg-top sm:bg-top bg-blend-normal" style="background-image: url('/images/sunset.jpeg');">

  <div class="bg-gray-900 bg-opacity-50 absolute top-0 left-0 right-0 bottom-0"></div>
  <div class="relative z-10 max-w-2xl mx-auto px-4 pt-16 pb-32 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-28">
    {# <p class="text-sm font-semibold text-white text-opacity-50 uppercase tracking-wide">404 error</p> #}
    {# <img class="max-w-[220px] mx-auto" src="/images/encore_logo.png" alt="Encore Promotions Logo" /> #}
    
    {# <div class="bg-white inline-flex items-center justify-center rounded-full h-12 w-12 border-2 border-[#1D1F96]">
      <img class="h-8 w-8" src="/images/favicon.png" alt="Encore Promotions Logo">
    </div> #}
    <h1 class="text-5xl font-extrabold text-white tracking-tight sm:text-7xl">Thank You</h1>
    <p class="mt-7 text-md lg:text-lg font-medium text-white text-opacity-80">After proudly telling our customer's stories with promotional products for over 35 years, Encore Promotions has officially closed for business.</p>
    <p class="mt-4 text-md lg:text-lg font-medium text-white text-opacity-80">We would like to thank all our customers and partners that we have done business with over the years. Encore Promotions would not have been the success it was without your support and loyalty.</p>
    {# <div class="max-w-md mx-auto relative text-md lg:text-lg font-medium text-white">
      <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-white text-opacity-20" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
        <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
      </svg>
      <p class="mt-4 text-md lg:text-lg font-medium text-white text-opacity-80">
        And then the man he steps right up to the microphone <br/>
        And says at last just as the time bell rings<br/>
        Goodnight, now it's time to go home
      </p>
    </div> #}
    <div class="flex gap-x-4 md:gap-x-12 items-center justify-center">
      <div class="mt-8 inline-flex rounded-md items-center justify-center max-w-[120px] md:max-w-[230px] rounded-2">
        <img class="w-full" src="/images/logo.png" alt="Encore Promotions logo">
      </div>
      <div class="mt-8 inline-flex rounded-md items-center justify-center max-w-[120px] md:max-w-[230px] rounded-2">
        <img class="w-full" src="/images/signature.png" alt="Encore Promotions logo">
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 w-full bg-white bg-opacity-70 text-center px-6 pt-5 pb-4">
    <p class="text-sm font-semibold text-gray-800 tracking-wider">Looking for promotional products? We recommend our friends at <a class="inline-flex hover:text-[#269BBC]" href="https://www.projexpromotions.ca/"><span class="group-hover:text-[#269BBC] underline mr-1">Projex Promotions</span><svg xmlns="http://www.w3.org/2000/svg" class="group-hover:text-[#269BBC] inline h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" /></a> 
</svg></p>
  </div>
</main>
{% endblock %}